header {
    border: solid;
    padding: 5px;
}
main {
    border: solid;
    padding: 5px;
    margin: 5px;
    display: none;
}
footer {
    border: solid;
    padding: 20px;
    margin: 10px;
    /* display: none; */
}
div {
    border: dashed;
    padding:5px;
    margin: 5px;
}